header {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #03363D;
    color: #D8EEF2;
    position: relative;
  }
  
  button {
    color: #D8EEF2;
  }
  
  /* Navigation button styling */
  .navigation {
    color: #D8EEF2;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
  }
  
  .navigation:hover {
    background-color: #D8EEF2;
    color: #03363D;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 54, 61, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  
  .link {
    color: #D8EEF2;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .logo {
    font-size: 2rem;
  }
  
  .active {
    color: #03363D;
  }