@import "tailwindcss";

@theme {
    --color-primary: #205781;
    --color-secondary: #4F959D;
    --color-accent: #98D2C0;
    --color-neutral: #F6F8D5;
}

@layer components {
    .button-icon {
      @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 shadow-lg bg-primary text-neutral hover:bg-secondary hover:text-neutral rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
    }
  
    .button-tooltip {
      @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-neutral bg-gradient-to-r from-secondary to-primary text-xs font-bold transition-all duration-100 scale-0 origin-left group-hover:scale-100;
    }
  }
  